html
  head
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.3/js/jquery.tablesorter.min.js")

  body
    .col-xs-12
      a(href='/') Back to all teams
    .col-xs-12
      img(src=teamData.teamLogo)
      h1= team
      table#stats-table.table.table-hover.tablesorter
        thead 
          tr 
          if(playerData[0])
            th 
            th.text-center(style="cursor: pointer") Name
            th.text-center(style="cursor: pointer") Number
            th.text-center(style="cursor: pointer") Position
            th(style="cursor: pointer") GP
            th(style="cursor: pointer")= playerData[0].pts
            th(style="cursor: pointer")= playerData[0].fg_pct
            th(style="cursor: pointer")= playerData[0].fg3_pct
            th(style="cursor: pointer")= playerData[0].ft_pct
            th(style="cursor: pointer")= playerData[0].ast
            th(style="cursor: pointer")= playerData[0].reb
            th(style="cursor: pointer")= playerData[0].oreb
            th(style="cursor: pointer")= playerData[0].dreb
            th(style="cursor: pointer")= playerData[0].stl
            th(style="cursor: pointer")= playerData[0].tov
            th(style="cursor: pointer")= playerData[0].pf
        tbody
          each val, index in playerData
            tr
            if (index !== 0)
              td 
                img.player-pic(src=val.pic)
              td.text-center= val.player
              td.text-center= val.num
              td.text-center= val.pos
              td= val.gp
              td= val.pts 
              td= val.fg_pct
              td= val.fg3_pct
              td= val.ft_pct
              td= val.ast 
              td= val.reb 
              td= val.oreb 
              td= val.dreb
              td= val.stl 
              td= val.tov 
              td= val.pf
              
style.
  th, td {
    text-align: left;
  }
  
  .player-pic {
    max-height: 100px;
  }
  
script.
  $(document).ready(function() {
    $("#stats-table").tablesorter();
    $("#stats-table").tablesorter( {sortList: [[0,0], [1,0]]} );
  })
