.container-fluid
  .album
    .row
      each team in teamsList
        .team.col-lg-3.col-md-6.text-center
          a(href=team.route)
            img.rounded-circle(src=team.url, class=team.className)
          h3= team.name
          a.btn.btn-secondary(href=team.route)= team.btnText
            |  »
