html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(type="text/javascript", src="/js/main.js")

  body
    nav.navbar
      h2 NBA Stats
    .container-fluid
      .row.mb-4.mt-2
        .col-12
          span#back
            i.fa.fa-arrow-left
            |  Back
      .row
        .col-12.col-lg-2
          img.player-pic(src=`https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/${playerInfo.PERSON_ID}.png`)
        .col-12.col-lg-10
          h1= playerInfo.DISPLAY_FIRST_LAST
          h2
            = playerInfo.TEAM_CITY
            = playerInfo.TEAM_NAME
          h5
            = playerInfo.POSITION
            | ,  #
            = playerInfo.JERSEY
      .row
        .col-sm-6.col-md-4.col-lg-3
          .d-flex.align-items-center.justify-content-between.pt-2
            .text-left
              .text-muted Height
              h4= playerInfo.HEIGHT
            .text-left
              .text-muted Weight
              h4= playerInfo.WEIGHT
                | lbs
          .mt-2
            .text-muted
                | BORN:
                = playerInfo.BIRTHDATE

            .text-muted
                | SCHOOL:
                = playerInfo.SCHOOL
      .row.mt-4
        .col-12
          table.table
            tbody
              thead
                tr
                  each header in  Object.keys(stats[0])
                    if (!['PLAYER_ID', 'LEAGUE_ID', 'TEAM_ID'].includes(header))
                      th= header

              each season in stats
                tr
                    td= season.SEASON_ID
                    td= season.TEAM_ABBREVIATION
                    td= season.PLAYER_AGE
                    td= season.GP
                    td= season.GS
                    td= season.MIN
                    td= season.FGM
                    td= season.FGA
                    td= season.FG_PCT
                    td= season.FG3M
                    td= season.FG3A
                    td= season.FG3_PCT
                    td= season.FTM
                    td= season.FTA
                    td= season.FT_PCT
                    td= season.OREB
                    td= season.DREB
                    td= season.REB
                    td= season.AST
                    td= season.STL
                    td= season.BLK
                    td= season.TOV
                    td= season.PF
                    td= season.PTS
