html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.3/js/jquery.tablesorter.min.js")
    script(type="text/javascript", src="/js/main.js")

  body
    nav.navbar
      h2 NBA Stats
    .container-fluid
      .row.mb-4.mt-2
        .col-12
          a(href='/')
            i.fa.fa-arrow-left
            |  Back to all teams

      .row(style=`background-color: ${teamData.primaryColor}`)
        .col-12.d-flex.align-items-center
            img(src=teamData.imgUrl width="150" height="150")
            h1(style="color: #FFF")= teamData.ttsName
      .row
        .col-12
          table#stats-table.table.table-hover.tablesorter
            thead
              tr
                th
                each header in headers
                  if (header === 'BIRTH DATE')
                    th= 'DOB'
                  else
                    th.text-left(style="cursor: pointer")= header

            tbody
              each player in playerData
                tr
                  td
                    img.player-pic(src=`https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/${player.PLAYER_ID}.png` width="136" height="100")
                  td.text-left
                    a(href="/player/" + player.PLAYER_ID)= player.PLAYER
                  td.text-left= player.NUM
                  td.text-left= player.POSITION
                  td.text-left= player.HEIGHT
                  td.text-left= player.WEIGHT
                  td.text-left= player.BIRTH_DATE
                  td.text-left= player.AGE
                  td.text-left= player.EXP
                  td.text-left= player.SCHOOL

script.
  $(document).ready(function() {
    $("#stats-table").tablesorter();
    $("#stats-table").tablesorter( {sortList: [[0,0], [1,0]]} );
  });
