html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", type="text/css", href="css/style.css")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.3/js/jquery.tablesorter.min.js")
    script(type="text/javascript", src="js/main.js")

  body
    nav.navbar
      h2 NBA Stats
    .container-fluid
      .row.mb-4.mt-2
        .col-12
          a(href='/')
            i.fa.fa-arrow-left
            |  Back to all teams
      .row
        .col-12
          img(src=teamData.teamLogo)
          h1= team
          table#stats-table.table.table-hover.tablesorter
            thead
              tr
              if(playerData[0])
                th
                th.text-center(style="cursor: pointer") Name
                th.text-center(style="cursor: pointer") Number
                th.text-center(style="cursor: pointer") Position
                th.text-left(style="cursor: pointer") GP
                th.text-left(style="cursor: pointer")= playerData[0].pts
                th.text-left(style="cursor: pointer")= playerData[0].fg_pct
                th.text-left(style="cursor: pointer")= playerData[0].fg3_pct
                th.text-left(style="cursor: pointer")= playerData[0].ft_pct
                th.text-left(style="cursor: pointer")= playerData[0].ast
                th.text-left(style="cursor: pointer")= playerData[0].reb
                th.text-left(style="cursor: pointer")= playerData[0].oreb
                th.text-left(style="cursor: pointer")= playerData[0].dreb
                th.text-left(style="cursor: pointer")= playerData[0].stl
                th.text-left(style="cursor: pointer")= playerData[0].tov
                th.text-left(style="cursor: pointer")= playerData[0].pf
            tbody
              each player, index in playerData
                tr
                if (index !== 0)
                  td.text-center
                    a(href="/player/" + player.playerId)= player.name
                  td.text-center= player.num
                  td.text-center= player.pos
                  td.text-left= player.gp
                  td.text-left= player.pts
                  td.text-left= player.fg_pct
                  td.text-left= player.fg3_pct
                  td.text-left= player.ft_pct
                  td.text-left= player.ast
                  td.text-left= player.reb
                  td.text-left= player.oreb
                  td.text-left= player.dreb
                  td.text-left= player.stl
                  td.text-left= player.tov
                  td.text-left= player.pf

script.
  $(document).ready(function() {
    $("#stats-table").tablesorter();
    $("#stats-table").tablesorter( {sortList: [[0,0], [1,0]]} );
  });
